aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.1
application-utility==1.4.0
attrs==25.4.0
autocommand==2.2.2
beautifulsoup4==4.14.3
boolean.py==5.0
btrfsutil==6.19
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
contourpy==1.3.3
cryptography==46.0.5
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.4.0
discid==1.3.0
docopt==0.6.2
fasteners==0.20
filelock==3.24.0
fonttools==4.61.1
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
injector==0.24.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
keyutils==0.6
kiwisolver==1.4.7
license-expression==30.4.4
Mako==1.3.10.dev0
Markdown==3.10.2
MarkupSafe==3.0.2
matplotlib==3.10.8
meson==1.10.1
more-itertools==10.8.0
multidict==6.7.1
musicbrainzngs==0.7.1
mutagen==1.47.0
namcap==3.6.0
natsort==8.4.0
netsnmp-python==1.0a1
nftables==0.1
npyscreen==5.0.2
numpy==2.4.2
OpenCC==1.1.9
packaging==26.0
pacman_mirrors==5.3
peewee==3.19.0
picard==2.13.3
pillow==12.1.1
pkg_resources==81.0.0
platformdirs==4.9.2
propcache==0.4.1
py3nvml==0.2.7
pyalpm==0.11.1
pycairo==1.29.0
pycparser==2.23
pycups==2.0.4
pyelftools==0.32
PyGObject==3.54.5
PyJWT==2.11.0
pylast==7.0.2
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5_sip==12.18.0
PySDL3==0.9.10b0
pysmbc==1.0.25.1
python-dateutil==2.9.0
python-xlib==0.33
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.3
reactivex==4.1.0
reportlab==4.2.2
requests==2.32.5
Send2Trash==1.8.3
setproctitle==1.3.7
setuptools==82.0.0
six==1.17.0
smbus==1.1
soupsieve==2.8.3
speedtest-cli==2.1.3
tauon-music-box==8.2.3
TBB==0.2
tqdm==4.67.3
typing_extensions==4.15.0
udiskie==2.6.1
Unidecode==1.4.0
urllib3==2.6.3
websocket-client==1.9.0
wheel==0.46.3
yarl==1.23.0
yt-dlp==2026.2.4
yt-dlp-ejs==0.4.0
